body {
font-family: "Bellefair" !important;
}
.navbar-brand img{
margin-left: -80px;
}
.navbarstyle{
padding-right: 190px;
}
.linkstyle{
padding-left: 10px;
color: black;
}
.paddingstyle1{
margin-right: -280px;
margin-top: 10px;
}
.paddingstyle{
margin-left: 200px;
margin-right: 10px;
}
.btnstyle{
color: #ffffff;
text-decoration: none;
border: 1px solid #29743a;
border-radius: 20px;
padding: 5px 6px;
background-color: #29743a;
}
.hero-section {
padding: 20px 0;
height: 100vh;
}
.hero-section h1 {
font-size: 2.5rem;
font-weight: bold;
width: 600px;
margin-top: -90px;
}
.hero-section p{
font-size: 1rem;
}
.hero-section .highlight {
color: #29743a;
}
.hero-section .text-red {
color: red;
}
.search-bar {
display: flex;
gap: 10px;
}
.search-bar select,
.search-bar input {
flex-grow: 1;
}
.property-image img {
width: 400px;
height: 500px;
border-radius: 10px;
padding-top: 60px;
}
.center-box {
background: white;
border-radius: 10px;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
max-width: 800px;
margin: auto;
overflow: hidden;
}
.top-box {
background: white;
border-radius: 10px 10px 0 0;
padding: 10px;
display: inline-block;
width: 100%;
}
.nav-tabs {
border-bottom: none;
border-radius: 10px 10px 0 0;
overflow: hidden;
width: fit-content;
}
.nav-tabs .nav-link {
color: black;
font-weight: 500;
border: none;
}
.nav-tabs .nav-link.active {
background-color: #0C6842;
color: white;
border: none;
}
.bottom-box {
background: #f8f9fa;
padding: 15px;
border-radius: 0 0 10px 10px;
}
.search-container input {
border: none;
outline: none;
background: transparent;
}
.search-btn {
background-color: #0C6842;
color: white;
border: none;
border-radius: 20px;
padding: 8px 20px;
}
.search-btn:hover {
background-color: #095a37;
}
.search-icon{
position: absolute;
padding-left: 10px; 
padding-top: 10px;   
}
.search-padding{
padding-left: 40px !important;
}








.liststyle1{
margin-top: 40px !important;
margin-left: 75px !important;
}
li::marker{
color: lightgray;
}







.property-title {
font-weight: bold;
font-size: 45px;
}
.gold-label {
position: absolute;
top: 25px;
left: 20px;
background-color: rgb(238, 47, 47);
color: white;
font-size: 12px;
padding: 5px 10px;
border-radius: 15px;
}
.main-image {
position: relative;
}
.main-image .play-button {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);   
padding: 10px;
color: red;
border-radius: 50%;
}









.tablestyle{
color: #666666;
font-weight: bold;
border-bottom: none !important;
padding-bottom: 20px !important;
}
.tablestyle1{
color: #333333;
border-bottom: none !important;
text-align: right;
padding-right: 30px !important;
padding-bottom: 20px !important;

}
.boxstyle3{
background-color: rgb(247, 245, 245) !important; 
border: 1px solid rgb(247, 245, 245) !important;     
border-radius: 10px;
padding: 7px 10px;
}
.icon-green3 {
color: rgb(11, 94, 18);
}
.icon-red3 {
color: red;
}
.price3 {
font-weight: bold;
font-size: 2rem;
text-align: left;
}
.price3 .dollar3 {
color: black;
}
.price3 .usd3 {
color: #095a37;
}
.btn7{
border: 1px solid #0E694B;
background-color: white;
padding: 10px 5px;
color: #0E694B;
text-decoration: none;
border-radius: 14px;
width: 48%;
text-align: center;
font-weight: bold;
}
.btn8{
border: 1px solid #0E694B;
background-color: #0E694B;
padding: 10px 5px;
color: #ffffff;
text-decoration: none;
border-radius: 14px;
width: 48%;
text-align: center;
font-weight: bold;
}
.contact-form input, .contact-form textarea {
border-radius: 10px;
}
.btn10{
border: 1px solid #0E694B;
background-color: #0E694B;
padding: 10px 100px;
color: #ffffff;
text-decoration: none;
border-radius: 14px;
width: 100%;
text-align: center;
font-weight: bold;
margin-left: 15px;
}
.form-label{
color: #666666 !important;
}
.form-control::placeholder{
color: #B8B8B8 !important;
}
.contact-form input, .contact-form textarea {
border-radius: 10px;
}
.check-icon {
color: #0E694B;
font-size: 1.2rem;
}
.details-link {
color: #0E694B;
font-weight: bold;
text-decoration: underline;
}
.details-link:hover {
text-decoration: underline;
}
.footer-text {
font-size: 0.8rem;
color: gray;
text-align: right;
}
.header-section {
background-color: #185f3e;
color: #fff;
text-align: left;
height: 130vh;
border-radius: 15px;
}
.header-section1{
padding: 40px 20px;    
}
.header-section1 h1{
font-size: 2rem;
font-weight: bold;
}
.header-section1 p{
font-size: 1.1rem;
padding-top: 10px;
}
.score-box{
background-color: rgb(245, 241, 241);
padding-bottom: 14px;
border-radius: 10px;
padding-left: 20px;
padding-right:20px;
margin-left: 30px !important;
}
.score-card {
border-radius: 15px;
display: flex;
align-items: center;
padding: 20px;
background-color: #fff;
}
.score-border {
display: flex;
align-items: center;
justify-content: center;
font-weight: bold;
margin-right: 30px;
}









.bgcolor{
background-color: #FAFAFA !important;
border-color: #FAFAFA !important;
border-radius: 10px !important ;
}
.more-style{
border: none;
background-color: #FAFAFA;
}
.card-color{
background-color: white;
border-radius: 10px;
font-weight: bold;
}
.form-select{
border: none !important;
margin-left: -10px !important;
font-weight: 700 !important;
}











.rate-table {
max-width: 800px;
margin: auto;
border-radius: 10px;
padding: 20px;
}
.numbers-tyle{
font-weight: bold;
font-size: 2rem;
}
.bank-logo {
width: 40px;
height: 40px;
border-radius: 50%;
margin-right: 10px;
}
.btn-inquire {
background-color: #0b5d3d;
color: white;
border-radius: 10px;
padding: 8px 20px;
font-weight: bold;
border:1px solid #0b5d3d !important;
}

.money-style{
font-weight: bold;
font-size: 1.3rem;   
}
.see-more-btn3{
color: #0b5d3d;
font-weight: bold;
text-decoration: none;
padding-left: 270px;
font-size: 1.2rem;
}
.map-container {
width: 100%;
height: 400px;
overflow: hidden;
background-color: #CECECE;
}
iframe {
width: 100%;
height: 200%;
border: none;
}








.listing-card3 {
border: none !important;
}
.listing-img3 {
width: 354px !important;
height: 300px;
padding: 10px;
}
.boxstyle3{
background-color: rgb(247, 245, 245) !important; 
border: 1px solid rgb(247, 245, 245) !important;     
border-radius: 10px;
padding: 7px 10px;
}
.top-listing-badge3 {
position: absolute;
top: 25px;
left: 20px;
background-color: rgb(238, 47, 47);
color: white;
font-size: 12px;
padding: 5px 10px;
border-radius: 15px;
}
.price3 {
font-weight: bold;
font-size: 2rem;
text-align: left;
}
.price3 .dollar3 {
color: black;
}
.price3 .usd3 {
color: rgb(11, 94, 18);
}
.icon-green3 {
color: rgb(11, 94, 18);
}
.icon-red3 {
color: red;
}









.section-faq{
height: 100vh;
}
.faq-section {
width: 600px;
padding-left: 60px;
}        
.faq-header {
font-size: 2.5rem;
font-weight: bold;
}
.faq-category {
color: #1E9B6A;
font-weight: bold;
margin-top: 20px;
padding-bottom: 10px;
}
.image-container {
position:relative;
}
.image-container img.img-big{
height: 510px;
width: 450px;
}
.image-container img.small-img {
position: absolute;
bottom: 20%;
left: 90%;
transform: translateX(-50%);
width: 200px;
height: 200px;
border-radius: 8px;
}
.accordion-item {
border: 1px solid #868585 !important;
border-radius: 10px !important;
margin-bottom: 10px;
overflow: hidden;
padding: 10px;
}
.accordion-button {
background-color: #fff !important;
font-weight: bold;
border-bottom: 1px solid #ffffff;
box-shadow: none;
}
.accordion-button:not(.collapsed) {
background-color: #ffffff !important;
color: #000 !important;
}
.arrow{
padding-left: 10px;
}







.blog-container {
max-width: 1200px;
margin: 0 auto;
}
.blog-header {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 20px;
}
.blog-header h2 {
font-weight: bold;    
font-size: 3rem;
}
.blog-header p {
max-width: 600px;
padding-left: 10px;
font-size: 1.1rem;
}
.blog-card img {
width: 100%;
height: 200px;
object-fit: cover;
border-radius: 10px;
border: 1px solid #ddd;
}
.blog-card {
background: #fff;
padding: 15px;
text-align: left;
}
.blog-card h5 {
font-weight: bold;
font-size: 1.5rem;
}
.read-more {
color: #144d19;
font-weight: bold;
text-decoration: none;
}












.footer {
background-color: rgb(20, 83, 57);
color: white;
padding: 40px 0;
border-radius: 15px;
}
.footer-logo img {
width: 100px;
padding-bottom: 5px;
}
.textstyle{
color: rgb(172,170,170);
font-size: 18px;
}
.footer a {
color: #a39d9d;
text-decoration: none !important;
}
.footer input {
width: 100%;
padding: 8px;
margin-top: 10px;
background-color: #3a3838;
border:1px solid #3a3838 ;
border-radius: 3px;
}
.footer button {
width: 100%;
background-color: #00c4ff;
border: none;
padding: 8px;
margin-top: 5px;
border-radius: 3px;
}
.text-style1{
color: rgb(172,170,170);
padding-left: 20px;
}
.last-section{
padding-left: 60px;
color: rgb(172,170,170);
}










.search-Nearby{
    background-color: white;
    }
    .Nearby h1{
    color: green;
    font-weight: bold;
    }
    .Nearby h2{
    color: rgb(69, 67, 67);
    font-weight: bold;
    }
    .liststyle3{
    color: rgb(106, 104, 104);
    font-size: 19px;
    }
    .liststyle3 li{
    padding-top: 5px;
    padding-left: 10px;
    }
    